<h2 class="container-fluid text-center mb-3">Acesse sua conta</h2>
<main class="container-fluid card">
  <section class="mb-3 mt-3">
    <label for="staticEmail" class="col-sm-2 form-label fs-4">E-mail</label>
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        id="staticEmail"
        [(ngModel)]="login.email"
        placeholder="usuario@exemplo.com"
      />
    </div>
  </section>
  <section class="mb-3">
    <label for="inputPassword" class="col-sm-2 form-label fs-4">Senha</label>
    <div class="col-sm-12">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        [(ngModel)]="login.password"
        placeholder="Digite aqui"
      />
    </div>
  </section>
  <div class="container-fluid alert text-danger text-center fs-5" role="alert">
    {{ message }}
  </div>
  <section class="mx-auto">
    <button
      type="button"
      class="btn btn-success btn-lg mb-3"
      (click)="entrar()"
    >
      Entrar
    </button>
  </section>
</main>

<footer class="container-fluid mt-2 p-2 text-center">
  <a href="https://www.tindin.com.br">https://www.tindin.com.br</a>
</footer>
