<button
  type="button"
  class="btn btn-light btn-lg float-end mb-3"
  [routerLink]="['']"
>
  <i class="bi bi-door-open"> Sair</i>
</button>
<section class="container d-flex align-items-center justify-content-between">
  <h1>Aulas</h1>

  <button
    type="button"
    class="btn btn-success btn-circle-lg"
    [routerLink]="['/cadastro']"
  >
    <i class="bi bi-plus-lg"></i>
  </button>
</section>

<hr class="mb-4" />

<section>
  <p
    *ngIf="aulas.length === 0"
    class="alert bg-light text-center fs-2"
    role="alert"
  >
    Não há aulas cadastradas.
  </p>
  <div class="container d-flex flex-wrap" *ngIf="aulas.length > 0">
    <div class="row" *ngFor="let aula of aulas">
      <app-tarefa-lista-item
        [aula]="aula"
        class="aula-item col-lg-4"
      ></app-tarefa-lista-item>
    </div>
  </div>
</section>
