<header>
  <nav class="navbar fixed-top text-light bg-success">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Tindin Class App</span>
    </div>
  </nav>
</header>

<section>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</section>
