<div class="card mb-4" style="width: 20rem">
  <div class="card-body text-center">
    <h5 class="card-title text-center">
      <div [innerHTML]="aula.title" class="aula-item-title"></div>
    </h5>
    <div class="card-text">
      <div
        [innerHTML]="aula.description"
        class="aula-item-description text-justify"
      ></div>
    </div>
    <div>
      <strong>Data de Publicação</strong> <br />
      {{ date }}
    </div>

    <div>
      <button
        type="button"
        [routerLink]="['/edit', aula.id]"
        class="btn btn-success"
      >
        <i class="bi bi-pencil-square"></i>
      </button>
      <button type="button" class="btn btn-danger" (click)="removeAula(aula)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>

<!-- <div class="form group form-check">
  <input
    type="checkbox"
    class="form-check-input"
    [(ngModel)]="aula.completed"
    (change)="onCompletedCheckChange(aula)"
  />
</div>
<div
  [innerHTML]="aula.title"
  class="aula-item-title"
  [ngClass]="aula.completed ? 'aula-completed' : ''"
></div>
<div
  [innerHTML]="aula.description"
  class="aula-item-description"
  [ngClass]="aula.completed ? 'aula-completed' : ''"
></div> -->
