<h2>{{ titleForm }}</h2>
<hr />

<section id="form">
  <form (ngSubmit)="onSubmit()" #formTarefa="ngForm">
    <div class="form-group">
      <label class="fs-3">Título</label>
      <input
        type="text"
        [(ngModel)]="aula.title"
        name="title"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label class="fs-3">Descrição</label>
      <textarea
        [(ngModel)]="aula.description"
        name="description"
        class="form-control"
        cols="10"
        rows="10"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-success btn-lg me-2 mt-4"
      (click)="onSubmit()"
    >
      Salvar
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-lg mt-4"
      [routerLink]="['/aulas']"
    >
      Cancelar
    </button>
  </form>
</section>
